<div>
  <h3>Aktionen</h3>
  <div class="actions">
    <button mat-raised-button [color]="'primary'" (click)="onLoadUsers()">
      Lade Nutzer
    </button>
    <button
      mat-raised-button
      [color]="'primary'"
      (click)="onSelectUser(null)"
      [disabled]="!(selectedUser$ | async)"
    >
      Selekt Nutzer
    </button>
    <button
      mat-raised-button
      [color]="'accent'"
      [disabled]="!(selectedUser$ | async)"
      (click)="onOpenDialog()"
    >
      Dialog
    </button>
    <button
      mat-raised-button
      [color]="'primary'"
      [disabled]="!(selectedUser$ | async)"
      (click)="onOpenSnackbar()"
    >
      Snackbar
    </button>
  </div>
</div>
<div>
  <h3>User</h3>
  <div class="nutzerliste">
    <ng-container *ngIf="usersLoading$ | async; else userList">
      <mat-spinner [mode]="'indeterminate'"> </mat-spinner>
    </ng-container>
    <ng-container *ngIf="!(usersLoading$ | async) && (hasError$ | async)">
      <button mat-icon-button (click)="onLoadUsers()">
        <mat-icon>refresh</mat-icon>
      </button>
    </ng-container>

    <ng-template #userList>
      <ng-container *ngFor="let user of users$ | async">
        <p>{{ user.name }}</p>

        <button mat-button (click)="onSelectUser(user)">Select User</button>
      </ng-container>
    </ng-template>
  </div>
</div>
<div>
  <h3>State</h3>

  <div class="actions">
    <button mat-raised-button [color]="'primary'" (click)="loadFailuire()">
      Load Error
    </button>
    <button mat-raised-button [color]="'primary'" (click)="onSelectUser(null)">
      Add Error
    </button>
    <button mat-raised-button [color]="'accent'" (click)="updateFailuire()">
      Update Error
    </button>
    <button mat-raised-button [color]="'primary'" (click)="onOpenSnackbar()">
      Delete Error
    </button>
  </div>
</div>
