<div>
  <h3>Aktionen</h3>
  <div class="actions">
    <button mat-raised-button (click)="onLoadUsers()">Lade Nutzer</button>
    <button mat-raised-button (click)="onSelectUser()">Selekt Nutzer</button>
    <button mat-raised-button (click)="onOpenDialog()">Dialog</button>
    <button mat-raised-button (click)="onOpenSnackbar()">Snackbar</button>
  </div>
</div>
<div>
  <h3>User</h3>
  <div class="nutzerliste">
    <ng-container *ngFor="let user of users$ | async">
      <p>{{ user }}</p>
    </ng-container>
  </div>
</div>
<div>
  <h3>State</h3>
</div>
